.ourwork-background-image{
  background-image: url(../src/images/bg5.jpg);  
}

.input-container{
  font-size: 0.8rem;
  margin: 5px;
  color: blue;
  /* background-color: #282a2d; */
}

.required{
  color: red;
  margin-top: 0;
  margin-left: 10px;
}
#name-label,
#phoneNumber-label,
#email-label,
#questions-label{
  color: #747474;
}


